<div class="container text-center" style="margin-bottom:40px;border: 3px solid black; border-radius: 10px; width: 600px;  margin-top: 40px; padding-bottom: 30px; padding-top: 30px;">
<% if @article.errors.any? %>
  <ol>
    <h2>The Following errors prevented the article from being saved</h2>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>
<%= form_with(model: @article, local: true) do |f| %>
  <div>
    <h5>
    <%= f.label :title, class:"form-label" %><br></h5>
    <%= f.text_field :title, class:"form-control", placeholder:"Enter the Title here" %>
  </div>
  <div><br>
    <h5><%= f.label :description,  class:"form-label" %><br></h5>
    <%= f.text_area :description, class:"form-control form-control-lg", placeholder:"Enter the Description here" %>
  </div>
  <div><br>
    <%= f.submit class:"btn btn-success text-white" %>
  </div>
<% end %>
</div>