<div class="container" style="margin-bottom: 30px; margin-top: 60px;">
<%= render 'articles/jumbotron' %>
</div>
<div class="container" style="margin: 40px; padding: 10px;">
<h1 style="text-align: center; font-size: 50px; font-style: italic">Articles</h1>
  <div class="container" style="margin: 30px; padding: 10px;">
  <% @articles.each do |article| %>

    <!--Card -->
      <div class="card">
        <div class="card-header">
          <%= article.created_at %> created by <%= article.user.username %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.description %></p>
          <%= link_to "View Detail", article_path(article), class: "btn btn-primary"  %>
        </div>
      </div>
   <% end %>
</div>
</div>
<!--Footer -->
<footer id="sticky-footer" class="flex-shrink-0 py-4">
  <div class="container text-center">
    <small>Copyright &copy; Daniyal Malik 2022</small><br>
    <small>Designed by Daniyal Malik &copy; XproLabs</small>
  </div>
</footer>
</body>