<div class="container">
  <h1 class="text-center mt-4">
    <%= @user.username %>'s Profile
  </h1>
  <%= gravatar_for @user, size:200%>
  <%= link_to "Edit profile", edit_user_path(@user), class:"btn btn-outline-info text-center mt-4" %>
  <%= link_to "Create a new Article", new_article_path, class:"btn btn-success text-center mt-4" %>
  <hr>
  <h2 class="text-center">Personal Detail's</h2>
  <hr>
  <h4>Email: <%= @user.email %></h4><hr>
  <h4>Number of Articles <%= @user.username %> have: <%= @user.articles.count %></h4><hr>
  <h4 class="text-center"><%= @user.username %>'s Articles</h4>
</div>
<div class="container" style="margin: 40px; padding: 10px;">
  <div class="container" style="margin: 30px; padding: 10px;">
    <% @user.articles.each do |article| %>

      <!--Card -->
      <div class="card">
        <div class="card-header">
          <%= article.created_at %> created by <%= link_to article.user.username, user_path(article.user) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.description %></p>
          <%= link_to "View Detail", article_path(article), class: "btn btn-primary"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
